.center-cropped {
  object-fit: cover;
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 250px;
}

.refresh-button {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  margin-right: 10px;
}

.refresh-button:hover,
.refresh-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.refresh-button {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}